[2015-02-04 20:45] btfrise opened #6 "Experimental appears on purchase page of image widget."
http://www.screencast.com/t/4DffHYcs6

When adding the image widget to a presentation, the product information displays Experimental. Production widgets should not display as experimental.

[2015-02-04 20:47] robb-price commented on #6
This is because it is set to be visible to only certain Companies in teh Product Spreadsheet.

[2015-02-04 20:47] #6 closed

[2015-02-04 20:48] btfrise opened #7 "Bucket error when configuring production Image Widget."
1. Log in to Rise Vision root company.
2. Add placeholder
3. Add Content -> Image Widget
4. Click Configure
Error message: NoSuchBucketThe specified bucket does not existwidgetimage8169DC955F94E2CBrvbZJdNpsoO+y9EHK6tk5jeNEjulZ5a8011jC5QXwJaDY9b6atm5lva9tjJqHVOgE365qHsZLmU=

http://www.screencast.com/t/LYB21inv8c

[2015-02-04 20:56] donnapep commented on #7
The Gadget URLs aren't set up correctly - http://screencast.com/t/X0nPTDaifCsL. You're missing the dash.

[2015-02-04 20:56] #7 closed

[2015-04-10 20:31] mfisher11 opened #12 "Image does not update when referenced file is replaced with an identically named file."
* This refers to the testing version of the widget, not production.

Steps to reproduce:
1.  Add image widget beta to a presentation.
2.  Specify image for widget.
3.  Publish presentation.
4.  Using the storage app, overwrite the file (same name) with a different image.

Result:
Image never changes (at least not within a couple of hours).

How it should work:
New image should be shown within 15 (

[2015-07-22 17:19] AlexKolenoff opened #15 "Image does not appear when Folder name in Rise Storage contains an apostrophe"
Steps to reproduce:
1. Create a folder in storage with an apostrophe in the folder name and uploading an image file to the folder
2. Add Image widget to a presentation and choose a file from the folder created in step 1
3. Preview or assign presentation to display and run in Player

Result:
Image never appears

How it should work:
Image should appear even if there is an apostrophe in the folder na

[2015-07-29 17:17] alanclayton commented on #15
@AlexKolenoff @donnapep can this be closed now?

[2015-07-29 17:19] donnapep commented on #15
@alanclayton I'm fine with closing it.

[2015-07-29 17:31] AlexKolenoff commented on #15
@alanclayton @donnapep Per the question on the Trello card, I was verifying this and it seems that it works now for the Image widget, but there is still a problem when the image (coming from a folder with an apostrophe) is set as a background to the Image widget or the Image item.  I am just double-checking that on my display but wanted to find out if that part of the issue was looked into.

[2015-07-29 18:00] alanclayton commented on #15
@AlexKolenoff The issue related to background image is related to RVA not the Image Widget. Do you think that needs to be a priority? Can it wait to be fixed with the new Editor?

[2015-07-29 18:06] AlexKolenoff commented on #15
@alanclayton No, I don't think it needs to be a priority, the workaround is just to create a new folder without an apostrophe.

[2015-07-29 18:10] alanclayton commented on #15
@AlexKolenoff Thanks.

[2015-07-29 18:10] #15 closed

[2015-08-10 21:01] AlexKolenoff opened #17 "Images are being downloaded every few minutes"
Steps to Reproduce
1. Add the Image widget to a presentation and add an image files from Rise Storage.  Note the file size.
2. Assign the presentation to player and run on display for at least an hour or more
3. Watch this folder and identify the file download(s) (from the file size you noted above in step 1): "C:\users\[username]\AppData\Local\Temp"

Result:
The same file is downloaded to C:\user

[2015-08-26 19:13] alanclayton opened #19 "Image rotated 90 degrees not appearing as rotated in Presentation"
Take a look at the image here, https://storage.googleapis.com/risemedialibrary-30007b45-3df0-4c7b-9f7f-7d8ce6443013/Images%2Ffall1_digital_0021r%20(2).jpg.

It appears such that the persons head is rotated 90 degrees, which is how it should appear. That same image in a Presentation does not respect that rotation. Instead it appears with no rotation as shown here, http://www.screencast.com/t/0zC0KG

[2015-09-24 18:07] mmoignet opened #20 "run locally problem"
I'm a very beginner in Rise Vision app developpment and I am sorry if my question is irrelevant here.

I've install everything for testing widget-image on my computer.

gulp build is OK

but when I try to install the widget preview app using the link : http://192.254.220.36/~rvi/widget-preview/

The 192.254.220.36 host seem not to be alive.
Could you help me to find this app?
Regards
Michel Moigne

[2015-09-24 18:12] stulees commented on #20
@mmoignet Apologies Michel, the link in the README appears to be outdated. We will get this corrected, thanks for letting us know. Please visit the Widget Preview repo for correct download links and information - https://github.com/Rise-Vision/widget-preview

[2015-09-24 18:18] mmoignet commented on #20
thank you very much,
Using the new link I've found the widget_preview app
Michel

Le 24/09/2015 20:12, Stuart Lees a écrit :

[2015-10-08 04:51] alanclayton commented on #17
Corrected w/ https://github.com/Rise-Vision/web-component-rise-storage/pull/57. Closing issue

[2015-10-08 04:51] #17 closed

[2015-10-08 04:52] alanclayton commented on #12
@mfisher11 can you let me know if this is an issue still with the production version of the Widget?

[2015-10-08 12:55] #20 closed

[2015-10-13 15:25] mfisher11 commented on #12
@alanclayton This does not occur in the current production version.  Given the age of the issue, and the fact that the testing version was likely pushed to prod long ago, should I close this out?  Thanks.

[2015-10-13 16:35] #12 closed

[2015-12-04 19:13] donnapep commented on #19
This photo was likely taken sideways on an iPhone. There's a thing called Exif data. This is where orientation information is stored. When viewing an image with the `img` tag or when using the CSS `background-image` property, Exif data is ignored.

The reason it works in Chrome directly is because they provided a [fix](https://code.google.com/p/chromium/issues/detail?id=56845#c66) for that particu

[2015-12-28 21:34] ashleighalmeida opened #29 "Schedule can only handle 4 items containing Image Folder Widget"
Issue:

User has presentations that contain 3 image folder widgets in each.
When adding the fifth presentation, the image folder widgets will freeze and not move on to the next image. Or, one image folder will work and the other will not.
When the schedule contains 4 items, the image folder widgets will play successfully.

What I've done to replicate:

Downloaded user's storage folders and uploade

[2016-01-04 23:35] robb-price commented on #29
@alanclayton What is the ETA on this?

[2016-01-05 00:15] alanclayton commented on #29
@robb-price it is current being worked on. Please follow https://trello.com/c/oUS2maSa/1094-2-image-issue-29

[2016-01-12 14:52] donnapep commented on #29
Fixed by PR #34.

[2016-01-12 14:52] #29 closed

[2016-01-12 23:00] alanclayton commented on #19
Not going to fix.

[2016-01-12 23:00] #19 closed

[2016-01-22 23:52] lapinnoir opened #41 "Image not loading - in RiseCache.log Handshake alert: unrecognized name"
**How to recreate**

**Expected Results**

**Actual Results**

[2016-01-22 23:58] hcs0 opened #42 "Image not loading - in RiseCache.log Handshake alert: unrecognized name"
**How to recreate**
Refer to this <a href="http://rva.risevision.com/#/PRESENTATION_MANAGE/id=ee620a99-cb01-44bc-a9f9-558c2a97e2de?cid=960b72df-9af7-476b-8a47-b67ded4c779d"> presentation</a> and show on live Display.
Within the presentation is an Image Widget referencing to an external link like <a href="https://www.unifiedbrandmedia.com/data/azcwr/images/2.jpg">this</a>.
Go to RiseCache.log

This

[2016-01-22 23:59] lapinnoir commented on #42
https://app.intercom.io/a/apps/d85f4ah4/inbox/conversation/1777441305

[2016-01-23 00:03] lapinnoir commented on #41
Closing since duplicate of https://github.com/Rise-Vision/widget-image/issues/42

[2016-01-23 00:03] #41 closed

[2016-01-25 14:14] hcs0 commented on #42
Closing since RiseCache issue

[2016-01-25 14:14] #42 closed

[2016-01-25 14:18] hcs0 commented on #42
FYI @rodrigopavezi

[2016-01-29 20:09] ezequielc opened #48 "Store pops up when pressing Enter in Settings"
When changing Image Widget settings, if you press Enter, a Store window pops up.
My suggestion is that Enter key should work as Save.

![](https://trello-attachments.s3.amazonaws.com/567c186a338e7ac5598ac5bc/1425x814/4a0b9f8471e413b70b5e4491c197048e/edit.gif)

[2016-02-01 18:02] alanclayton opened #50 "test"
test

[2016-02-01 18:03] #50 closed

[2016-02-10 18:04] alanclayton commented on #48
Issue resolved.

[2016-02-10 18:04] #48 closed

[2016-02-17 18:04] sheadarlison opened #57 "Image won't show up if file name has spaces and brackets"
Presentation here: https://apps.risevision.com/editor/workspace/4302b213-9f64-4cf5-b070-2388e1882dcf/?cid=f114ad26-949d-44b4-87e9-8528afc76ce4

Preview here: http://preview.risevision.com/?type=presentation&id=4302b213-9f64-4cf5-b070-2388e1882dcf&showui=false

Image here: https://storage.googleapis.com/risemedialibrary-f114ad26-949d-44b4-87e9-8528afc76ce4/weather-background-3%20(1)%20(1).png

[2016-02-18 16:40] donnapep commented on #57
Fixed by PR #58

[2016-02-18 16:40] #57 closed

[2016-02-29 18:45] matthewlswanson opened #61 "Feature Request: Pull images from directories"
This widget is very nice, but it can only pull 1 image from an external source (i.e. google drive). I need to have it connect to a folder with several hundred images and don't want the users to have to add the widget hundreds of times

[2016-02-29 19:20] alanclayton commented on #61
@matthewlswanson We do not have plans to support showing a folder of images from a 3rd party server. I'd recommend using Rise Storage (https://storage.risevision.com) to show a folder of images. Thanks!

[2016-02-29 19:20] #61 closed

[2016-02-29 19:25] matthewlswanson commented on #61
I would love to use Rise Storage but there is no way to control who has
access to what folders and this is essential to our setup :(

On Mon, Feb 29, 2016 at 11:20 AM, Alan Clayton <notifications@github.com>
wrote:

--
Matthew Swanson
Network Administrator
George Fox University
503.554.2588

[2016-02-29 20:00] alanclayton commented on #61
@matthewlswanson take a look at the response I just posted in the [Community](https://community.risevision.com/rise_vision_inc/topics/alternative-options-to-rise-storage?topic-reply-list%5Bsettings%5D%5Bfilter_by%5D=all&topic-reply-list%5Bsettings%5D%5Breply_id%5D=16662147#reply_16662147) and let me know if that helps.

Thanks!

[2016-04-07 16:37] btfrise opened #66 "When in a schedule, Image Widget does not restart at the first image in the playlist."
**How to recreate**
1. Within a presentation, add 2 Image Widgets
2. Add Image #1 to first Image Widget, set it to display for 10 seconds
3. Add Image #2 to second Image Widget, set it to display for 10 seconds
4. Create a second presentation, add 2 Video Widgets
5. Add Video #1 to first Video Widget, set it to PUD
6. Add Video #2 to second Video Widget, set it to PUD
7. Add both presentations to

[2016-04-07 16:39] btfrise commented on #66
https://app.intercom.io/a/apps/d85f4ah4/inbox/btf@risevision.com/conversations/4496166465

[2016-04-11 13:26] btfrise commented on #66
Closing as this is an apps team issue bug moved to https://github.com/Rise-Vision/viewer/issues/91

[2016-04-11 13:26] #66 closed

[2016-04-22 22:17] hcs0 opened #70 "When a Presentation contains duplicated Image Widgets, not all Widgets appear"
**How to recreate**
Use the **Full Screen Image** Template
Duplicate a few instances of the Image Widget within the template, creating 10 Image Widgets in total
For each of the Image Widgets, link to a different external URL .jpg image
User this <a href="https://apps.risevision.com/editor/workspace/587a79c9-b075-442e-8ce8-d571b23c79b1/true?cid=960b72df-9af7-476b-8a47-b67ded4c779d">presentation</a>

[2016-04-22 22:27] hcs0 commented on #70
https://app.intercom.io/a/apps/d85f4ah4/inbox/hcs@risevision.com/conversations/4598962516

[2016-04-25 21:33] stulees commented on #70
@hcs0 Can you clarify what the problem is with Image Widget? In following the steps, it seems like this is more of a new editor issue and/or Viewer.  Thanks

[2016-04-26 14:56] hcs0 commented on #70
Closing to log in apps repo

[2016-04-26 14:56] #70 closed

[2016-04-26 21:48] robb-price opened #71 "2 Instances of Image Widget, both looking at Folders, both marked as Play Until Done, first image in the folder is always skipped"
<b>How it works now:</b>
1. Set up a Presentation with 2 instances of the Rise Vision Image Widget, both looking at folders, both set to Play Until Done.
2. Play the Presentation on a Display. Notice that the folders never play the first image in the folder, they always skip it, or shows it very briefly Also, it shows the last image in the folder twice, once when the Widget starts, and once when i

[2016-05-05 13:47] btfrise opened #74 "Play Until Done is a duration option on a single image widget."
**How to recreate**
1. Add an Image Widget with an Image in a presentation
2. Add another Widget of any type into the same placeholder
3. Edit the Image Widget Playlist item and select "Play Until Done"

**What happens**
The presentation never moves on to the next item in the playlist, because there is no timer to determine when an image is done playing.

**What should happen**
Play until done sho

[2016-05-05 14:13] ByronDarlison commented on #74
@btfrise @alanclayton isn't duration, in this case restricting PUD, outside the scope of what the widget can control?

[2016-05-05 15:04] alanclayton commented on #74
Not going to fix due to this being a design issue with Duration/PUD defined outside the Widget and user error (PUD does not apply to a single image)

[2016-05-05 15:04] #74 closed

[2016-06-06 15:00] alanclayton commented on #71
Fixed w/ Chrome 50.0.2661.102

[2016-06-06 21:42] Fantastitech opened #75 "WebP images will not validate when attempting to load from Storage"
<b> How it works now</b>
Using the Image Widget, loading an image from Storage using the "Single Image" or "Folder of Images" buttons with a WebP image will cause a file type validation error that can not be bypassed:
![screenshot from 2016-06-06 14-35-07](https://cloud.githubusercontent.com/assets/14909394/15838810/e05d654a-2bf4-11e6-853b-bfbc05482af5.png)

When a WebP image is added using the Cu

[2016-06-10 17:58] alanclayton commented on #75
@Fantastitech a fix for this issue was deployed yesterday. Let us know if you see anything else.

Thanks!

[2016-06-10 17:58] #75 closed

[2016-07-04 15:06] robb-price opened #77 "When you have hundreds of images in a folder, memory climbs and the Presentation crashes"
<b>How it works now:</b>
1. Add 8 instances of the Image Widget to a Placeholder, each looking at a folder that has 200 images in it.
2. Notice that after roughly 8 hours, the memory rises considerably, and the Presentation playing on the Display will freeze, and crash.

Use this Presentation as a testing example. This is a duplicate of a user's Presentation: https://apps.risevision.com/editor/wor

[2016-07-05 15:21] sheadarlison opened #78 "Says Image does not exist or has been moved to trash but it does exist and has not been moved to trash"
Placeholder: ph2

Presentation: https://apps.risevision.com/editor/workspace/ccfc1542-a354-4b1f-9767-a440517d0e01/?cid=6b26789a-405c-4e25-a653-ec4c7c4e5eed

Preview: http://preview.risevision.com/?type=presentation&id=ccfc1542-a354-4b1f-9767-a440517d0e01

Image: https://commondatastorage.googleapis.com/risemedialibrary-6b26789a-405c-4e25-a653-ec4c7c4e5eed/wlu_logo585.png

![wlu_logo585](https://cl

[2016-07-05 16:03] stulees commented on #78
@sheadarlison I'm not able to reproduce this when looking at the presentation and previewing:

http://www.screencast.com/t/t9st01CY6

http://www.screencast.com/t/BOdk3WswA

Where did you get the link from for the image you mentioned above? Thanks

[2016-07-05 17:48] sheadarlison commented on #78
@stulees Sorry this was a client presentation so I needed a quick fix. I fixed the issue by uploading the file to storage. However, when it was pulling as a custom URL it wasn't working. The URL was from one of their other presentations. Thanks

[2016-07-05 18:39] robb-price commented on #77
Cannot replicate, appears to be user's hardware related. Closing this issue.

[2016-07-05 18:39] #77 closed

[2016-07-05 18:42] stulees commented on #78
@sheadarlison I've tried using the Custom URL input with the following URLs:

- https://commondatastorage.googleapis.com/risemedialibrary-6b26789a-405c-4e25-a653-ec4c7c4e5eed/wlu_logo585.png
- https://storage.googleapis.com/risemedialibrary-6b26789a-405c-4e25-a653-ec4c7c4e5eed/wlu_logo585.png
- http://s3.amazonaws.com/stu-testing/sample_images/wlu_logo585.png (uploaded to my own bucket on Amazon)

[2016-07-05 19:23] sheadarlison commented on #78
@stulees The original URL was http://commondatastorage.googleapis.com/risemedialibrary-6b26789a-405c-4e25-a653-ec4c7c4e5eed/wlu_logo585.png

[2016-07-05 19:30] stulees commented on #78
@sheadarlison That was one of the URLs I tried. I've changed my presentation to use that URL, see here - https://apps.risevision.com/editor/workspace/544611bb-27d5-4a77-8235-ebcf0e8c508b/?cid=30007b45-3df0-4c7b-9f7f-7d8ce6443013

Without being able to see what was previously happening I don't think I can investigate it any further. @sheadarlison @alanclayton Okay to close?

[2016-07-05 19:33] sheadarlison commented on #78
@stulees must have been a one time issue. I think this is good to close. Thanks

[2016-07-05 20:12] stulees commented on #78
@sheadarlison Okay thanks

[2016-07-05 20:12] #78 closed

[2016-07-08 15:07] robb-price commented on #71
@alanclayton Since we are back on Chrome 49, this is still an issue.

[2016-07-19 15:01] btfrise opened #79 "Image Widget set to display folder of webp images shows "The selected folder does not show any supported image formats"."
**How to recreate**
1. Create a new presentation with the Image Widget
2. Configure the Image Widget to display a folder full of .webp images
3. Save and preview presentation

**What happens**
Presentation shows "The selected folder does not show any supported image format"

**What should happen**
The Widget should show all .webp images.

[2016-07-20 20:48] stulees commented on #79
@btfrise Fixed with PR #80

[2016-07-20 20:48] #79 closed

[2016-07-22 11:44] ByronDarlison commented on #71
@robb-price @alanclayton is this now resolved with the release of 51?

[2016-07-22 12:33] robb-price commented on #71
@ByronDarlison @alanclayton We will retest with 51 today to confirm and update the issue accordingly.

[2016-07-22 15:38] robb-price commented on #71
@ByronDarlison @alanclayton Confirmed that this is fixed with Chromium 51. Closing the issue.

[2016-07-22 15:38] #71 closed

[2016-07-22 15:50] raydurkin opened #81 "Animated GIF hosted at https://media.giphy.com causes player to restart"
An animated GIF that is hosted at https://media.giphy.com's web site when inserted using the image widget in the presentation will cause the Rise Player to restart about every hour.  When the animated GIF is put into Rise Storage and added to the presentation, the Rise Player stop restarting.

To recreate:
Presentation with animated GIF image items linked to https://media.giphy.com here: http://rv

[2016-08-03 15:10] alanclayton commented on #81
Correction has been deployed.

[2016-08-03 15:10] #81 closed

[2016-10-14 19:02] btfrise opened #102 "Random white flashes in between playlist items."
**How to recreate**
Assign multiple Image Widgets w/images to a placeholder in two presentations. (Test presentations [here](https://apps.risevision.com/editor/workspace/28e2500a-ed80-4ac7-8434-dd40131ff9f9/?cid=fee1f642-cdd1-4bc4-8f93-1fc97cb00d55) and [here](https://apps.risevision.com/editor/workspace/f703276f-217b-404d-830d-f596767955c3/?cid=fee1f642-cdd1-4bc4-8f93-1fc97cb00d55).)
Set the tran

[2016-10-17 13:27] donnapep commented on #102
@btfrise If there's a white flash _between_ plays of the Image Widget, then to me that sounds like more of a Viewer issue? Widget can't really control what happens during the transitioning.

[2016-10-19 11:04] donnapep commented on #102
@ezequielc What do you think about this issue? It sounds like it has more to do with Viewer than with the Image Widget.

[2016-10-19 12:06] ezequielc commented on #102
@donnapep I am not sure. The issue was initially opened in Viewer (https://github.com/Rise-Vision/viewer/issues/141) but it seems that it only happens with Image Widget. Could it be something during the widget initialization? Thanks

[2016-10-19 12:13] donnapep commented on #102
@ezequielc OK, if you guys have already looked into it, I'll take a shot on the Widget side. Thx.

[2016-10-25 15:48] alanclayton commented on #102
Fix released.

[2016-10-25 15:48] #102 closed

[2016-12-09 21:17] robb-price opened #110 "SVG's are not showing up reliably in a Presentation on a Display"
<b>How it works now:</b>
1. Put <a href="https://apps.risevision.com/editor/workspace/bfd86f2c-1430-49b5-875c-6c541a7e7eb1/?cid=556323b8-984c-4127-aa08-4d73d019bcb8">this Presentation</a> into a Schedule, and play it on a Display. Notice that sometimes the svg logo at the top of the Presentation sometimes shows, and sometimes does not show. The best way to make it stop showing is to add a second P

[2016-12-12 14:41] jorey-upenn commented on #110
Note that when served from our infrastructure, I can reliably make the SVG reappear by touching the file on the server, or renaming it and updating the presentation to use the new URL. In either case, it only reappears temporarily.

[2016-12-15 16:04] donnapep commented on #110
@robb-price I'm not seeing an SVG file being used in that Presentation. Can you clarify?

[2016-12-16 17:14] robb-price commented on #110
@donnapep My apologies, that was a link to the wrong Presentation. I have updated it to have a link to the correct Presentation.

[2016-12-19 15:52] donnapep commented on #110
@robb-price Thx. What OS are you running Player on? Does it occur on all OSes?

[2016-12-20 13:17] donnapep commented on #110
Closing as this is a Rise Cache issue.

[2016-12-20 13:17] #110 closed

[2016-12-22 15:24] stulees opened #113 "If you have a folder with 1 image and update it with another identically named image, it still shows the old version in preview and on Player"
<b>How it works now</b>

1. Add an image from a Folder in Storage to your Presentation with the Image Widget. Make sure there is only <b>ONE</b> image in this folder.
2. Replace the image file in storage with a file of the same name, and notice that the older file will still show in preview and the player unless you manually clear the browser cache or restart the player. This occurs after the 20mi

[2016-12-22 15:25] stulees commented on #113
![](https://github.trello.services/images/mini-trello-icon.png) [(1) Issue 75 - Images in Folders that are replaced continue showing the older version.](https://trello.com/c/t4wnUZjh/2920-1-issue-75-images-in-folders-that-are-replaced-continue-showing-the-older-version)

[2016-12-23 01:44] robb-price commented on #113
Verified and closed.

[2016-12-23 01:44] #113 closed

[2017-07-28 16:38] tbonecopper opened #127 ""Problem retrieving the file from Rise Cache" when # symbol is used in filename of a file located in Rise Storage"
This issue is derived from https://risevision.zendesk.com/agent/tickets/14672

Affected Presentations:

https://apps.risevision.com/editor/workspace/58b506ba-1924-4890-9770-ea3c29f6e28a/?cid=a9c27934-7fbb-4049-9565-4efd5c69f335

https://apps.risevision.com/editor/workspace/63cecbe4-d61b-4696-9d0e-575bf3ac6369/?cid=a9c27934-7fbb-4049-9565-4efd5c69f335

https://apps.risevision.com/editor/workspace/3

[2017-07-31 20:56] stulees commented on #127
@tbonecopper I have tried to recreate this issue but haven't been able to. I created a presentation that targets this companies pngs with # in their file names. The following presentation has a image widget target for a single image and another instance of the widget configured for a folder

https://apps.risevision.com/editor/workspace/c3764562-8bb3-4a60-93f7-ba714916e9c2/?cid=30007b45-3df0-4c7b-9

[2017-08-02 14:05] tejohnso commented on #127
Closing pending reproduce.

[2017-08-02 14:05] #127 closed

[2017-08-04 15:18] btfrise opened #128 "Image Widget not showing Images, mixed content error."
**How to recreate?**
1. Add any image (Rise Storage or other) to a Presentation.
2. Schedule that Presentation to appear on a Display.

**What happens?**
The image does not appear. Console displays a mixed content error.

**What should happen?**
Images should appear normally.

**Resources**
Display: https://apps.risevision.com/displays/details/GG5H75E4TK4V?cid=e113f8d6-de1c-4c26-b160-4ef1c4589957

[2017-08-04 15:18] btfrise commented on #128
![](https://github.trello.services/images/mini-trello-icon.png) [Investigate Possible Image Issue](https://trello.com/c/qj3ZNQJb/5142-investigate-possible-image-issue)

[2017-08-04 18:52] alanclayton commented on #128
Issue introduced with RisePlayerElectron 2017.08.03.16.42. Reverted to previous version and will work on fix for the issue that was introduced before resuming release.

[2017-08-04 18:52] #128 closed

[2017-08-07 19:57] robb-price opened #129 "If there is only 1 image in the folder and the Widget is set to PUD, it will sit on that one image."
<b>How it works now:</b>
1. Add the Image Widget looking at a Folder that only has 1 image. Add other content into the Placeholder. Set the Image Widget to PUD.
2. Notice that when the Presentation comes to the Image Widget, it stays on the Image Widget and does not move forward.
3. If you add another image to that folder, everything works as expected.

<b>How it should work:</b>
Several users may

[2017-08-07 19:58] robb-price commented on #129
![](https://github.trello.services/images/mini-trello-icon.png) [(1) Issue 129 - If there is only 1 image in the folder and the Widget is set to PUD, it will sit on that one image](https://trello.com/c/qJcqK9Jf/5163-1-issue-129-if-there-is-only-1-image-in-the-folder-and-the-widget-is-set-to-pud-it-will-sit-on-that-one-image)

[2017-08-09 14:04] robb-price commented on #129
Fixed is verified and Closed.

[2017-08-09 14:04] #129 closed

[2018-04-13 17:45] robb-price opened #143 "Widgets should not show error messages"
As per this bug: https://github.com/Rise-Vision/rise-launcher-electron/issues/700, the Image and Video Widgets should not show error message when files cannot be played.

[2018-04-17 16:11] stulees opened #144 "Multiple Image instances configured for single file are crashing Viewer"
*NOTE: do not add Display ID, Company ID or ScreenConnect links to this comment. Instead, manually add these details to the Trello Card. The card will be added to the [Creative Sprint Backlog](https://trello.com/b/oq3ozPGH/creative) after you've submitted the issue*

- Operating System Version: Ubuntu 14.04.5 x 32-bit
- Player Version: RisePlayerElectron 2018.04.10.17.21 Professional
- Viewer Vers

[2018-04-17 16:25] sheadarlison commented on #144
@jungeunyoon @rudibravo FYI

[2018-04-19 13:55] sheadarlison commented on #143
Will fix when we improve Image Widget

[2018-06-01 14:50] btfrise opened #153 "When network resource is blocked, widgets don't load a proper error message."
**NOTE THAT THIS AFFECTS ALL WIDGETS NOT JUST IMAGE**

**How to recreate**

Access apps.risevision.com on a network with rvashow2.appspot.com blocked.
Configure a Widget.

**What happens**
Widget doesn't fully load and has no error message to tell the user what's wrong. See attached image.
![inconclusive](https://user-images.githubusercontent.com/8458926/40847120-1d15de78-6581-11e8-8d04-545f156e78

[2018-06-01 14:50] btfrise commented on #153
![](https://github.trello.services/images/mini-trello-icon.png) [[Ticket Blocked] Issue 153 When network resource is blocked, widgets don't load a proper error message.](https://trello.com/c/10UEiNFl/8087-ticket-blocked-issue-153-when-network-resource-is-blocked-widgets-dont-load-a-proper-error-message)

[2018-06-01 15:28] stulees commented on #153
@btfrise @sheadarlison @ezequielc This appears to be an Apps issue as it involves Editor and not specific to Image widget or any other widget. Can we move to the appropriate Apps repo for this issue?

[2018-06-01 15:45] sheadarlison commented on #153
@alex-deaconu could you please recap your SoS comments re. this issue and why you think it's a widget problem and what we should to to fix it.

[2018-06-01 15:48] ezequielc commented on #153
@stulees We covered this in SoS this morning. It seems the issue is with the Widget Settings, which doesn't load properly and throws an angular error due to the network block.
The suggested actions where to:
1. Handle the error properly so it doesn't break the UI;
2. Move the blocked resource (gadgets RPC js, I think) to the widget itself or use it from a domain which would not likely to be blocke

[2018-06-01 15:51] alex-deaconu commented on #153
@ezequielc that is correct, however apps.risevision.com does not actually host the file in question.

To confirm, this is the dependency in question: https://github.com/Rise-Vision/widget-image/blob/master/src/settings.html#L182. If moving it to the dist for the Widget (you can add the Viewer project and get that file via bower), you can consider pointing to preview.risevision.com or viewer.risevi

[2018-06-01 16:00] stulees commented on #153
@alex-deaconu @ezequielc Thanks for clarifying.

If it is just a matter of that gadgets RPC dependency that is the problem, then we fortunately have a quick solution. That gadgets file is already bundled in Widgets as a part of the build via this [script](https://github.com/Rise-Vision/widget-image/blob/master/include-deps.sh) and is targeted on the widget side, see here - https://github.com/Rise-

[2018-06-01 16:31] alex-deaconu commented on #153
@stulees interesting, but it seems quite complicated. Why not just bundle via bower? Thanks.

[2018-06-01 16:42] stulees commented on #153
@alex-deaconu We set it up this way on Delivery a while ago for enabling the widgets to run offline in Player. The Viewer project/bower approach never came up. The script is very small and runs [post widget build](https://github.com/Rise-Vision/widget-image/blob/master/package.json#L8), not overly complicated.

It will be a small update to each widget Settings html to just change the path for gadg

[2018-06-01 21:18] btfrise commented on #153
@stulees We discussed this at standup and they determined it was a content issue as it affects all Widgets. I will wait to hear back, but this was initially logged with apps.

[2018-06-01 21:19] btfrise commented on #153
Please let me know what is determined and where I should log this.

[2018-06-01 21:20] btfrise commented on #153
All of the comments didn't load for me. I see that this is staying with Content. Thanks.

[2018-06-06 13:28] RV-Adrian opened #154 "Image Widget incorrect rotation"
**How To Recreate**
Go to https://apps.risevision.com/editor/workspace/c0bb40ec-bc41-42ca-ab3f-e3e94dab04fd/?cid=833e25ca-ca97-4dfe-a47c-aca1648ca9cb and select 'Preview'

**What Happens**
Images in Storage that are correctly rotated in file and thumbnail preview are turned 90 degress in a Presentation (both Display and Preview)

**What Should Happen**

Image Widget should follow the rotation orie

[2018-06-06 14:00] sheadarlison commented on #154
Hey @RV-Adrian this is the same as this issue https://github.com/Rise-Vision/widget-image/issues/19

It was closed two years ago because I don't think it was possible to fix in the widget, but a lot has changed in two years and there might be some JS libraries we could use to fix this. We'll take another look and get back to you.

Thanks

[2018-06-06 14:03] RV-Adrian commented on #154
@sheadarlison Oh wow, classic!
Sounds good, thanks.

[2018-06-19 13:48] sheadarlison commented on #154
Need to update this article if/when fixed https://help.risevision.com/hc/en-us/articles/115005291506-My-image-is-rotated-in-the-wrong-direction

[2018-06-19 15:31] #143 closed

[2018-07-03 16:01] santiagonoguez commented on #153
@btfrise This has been corrected for all widgets that present the error. The settings and widget should now work even if rvashow2 is blocked.

Please validate this is the case.

Note that the issue may still appear on browsers that have cached previous component pages, but if you see that happening clearing the browser cache should help.

FYI @sheadarlison @stulees @ezequielc @alex-deaconu

[2018-07-04 13:48] santiagonoguez commented on #153
Closing this issue. I validated in all affected widget types.

[2018-07-04 13:48] #153 closed

[2018-07-09 15:49] santiagonoguez commented on #154
@sheadarlison @RV-Adrian  Closing this issue, follow up:
https://github.com/Rise-Vision/rise-launcher-electron/issues/748

[2018-07-18 21:34] stulees commented on #144
Image using RLS for single file has fixed the issue. Additional details can be found on https://trello.com/c/5f1uyQME/5403-defect-144-help-content-w-image-widget-2 . Closing this issue.

[2018-07-18 21:34] #144 closed

[2018-08-06 18:19] jungeunyoon opened #167 "Using a folder with a single image hangs on download message"
**How to recreate**
- Use Image Widget with a folder with a single image.
- OR Point Image Widget with folder with several images, delete all but 1 image from apps, restart player

**What happens**
Widget will display the "Please wait while your image is downloaded" indefinitely.

**What should happen**
Widget displays the image.

[2018-08-06 18:22] jungeunyoon opened #168 "Changes to folder not captured while display is offline"
**How to recreate**
On an offline display point to Image Widget with folder and make changes to it. Start display.

**What happens**
Widget does not reflect changes to folder on next restart.

**What should happen**
Widget displays changes to folder on next restart. _We need to delete the local-storage.db file to force it get updates on next restart_

[2018-08-06 18:29] jungeunyoon commented on #167
![](https://github.trello.services/images/mini-trello-icon.png) [Image Widget Issue #167 [?]](https://trello.com/c/pldzFoJW/5750-image-widget-issue-167)

[2018-08-06 18:30] jungeunyoon commented on #168
![](https://github.trello.services/images/mini-trello-icon.png) [Image Widget Issue #168 [?]](https://trello.com/c/9Yks8Ygi/5751-image-widget-issue-168)

[2018-08-06 18:36] #168 closed

[2018-08-07 19:43] sheadarlison opened #169 "If your file has a "#" in it, it will not show in your Presentation when you use a folder."
### What is the expected behavior?
Regardless of the name of the file, it should show in your Presentation.

### What is the actual behavior?
If your file has a #, it will not show in the Presentation if you are playing this for a folder. If you link to the file directly, it shows.

### What steps can be taken to replicate the problem?
1. Add the Image Widget to a folder that has a file with a # i

[2018-08-08 15:03] #167 closed

[2018-08-08 16:57] stulees commented on #169
@robb-price I'm unable to recreate the issue when testing a folder of images and one file has a # in it. The image is downloaded and gets displayed successfully.

Can you provide a presentation where you see the issue occur? Thanks

[2018-08-08 20:59] stulees commented on #169
@sheadarlison I've confirmed with @robb-price that this is not an issue with the Widget and is happening due to the already open Trash issue - https://github.com/Rise-Vision/rise-launcher-electron/issues/756

Closing this issue.

[2018-08-08 20:59] #169 closed

[2018-08-20 18:36] stulees opened #175 "Widget does not display anything when configured for SVG storage file"
### What is the expected behavior?
When I configure my widget for single storage file and choose an SVG file, I expect the image to show on my Display.

### What is the actual behavior?
In Editor or Preview, the SVG image is displayed.
In current Player, the Widget displays nothing (no image or message) and the Widget logs `image load error` event in BQ.

### What steps can be taken to replicate t

[2018-08-20 18:41] stulees commented on #175
[Image Issue 175](https://trello.com/c/yjFRo0DH/5800-widget-image-issue-175)

[2018-08-27 14:04] stulees commented on #175
###Problem
When the widget uses RLS, the browser is loading the image directly from the local file system and the file is MD5 hash encoded and has no extension. The browser is unable to know the true content type of the file and therefore for an SVG file it could not load it as a "image/svg+xml" file so it could appropriately parse it.

###Solution (link to PR if any)
https://github.com/Rise-Visio

[2018-08-27 14:04] #175 closed

[2018-09-05 14:16] sheadarlison opened #177 "test"

[2018-09-05 14:17] #177 closed

[2018-09-05 14:17] sheadarlison opened #178 "test"

[2018-09-05 14:26] sheadarlison opened #180 "When a file is moved to trash the Image Widget should no longer show it"
https://github.com/Rise-Vision/rise-launcher-electron/issues/757

https://trello.com/c/ZutE6CTU/4634-2-defect-757-storage-if-a-file-exists-in-trash-it-will-display-instead-of-a-file-with-the-same-path-and-filename-in-storage

[2018-09-17 16:30] jungeunyoon commented on #180
Fix deployed as part of Player issue 757. https://github.com/Rise-Vision/rise-launcher-electron/issues/757

---

**Problem**
When a file is deleted in Storage, nothing is done on Image Widget other than logging it.

**Solution**
When a file is deleted in Storage, it should be removed from being displayed.

**How to validate**
1. Use Image Widget with single image in Storage.
2. Delete image from S

[2018-09-17 16:30] #180 closed

[2018-09-25 16:16] tejohnso opened #183 "When a file is re-uploaded after trashing, the trashed message is not removed."
When a file is deleted from trash, a message is shown: "The selected image has been moved to Trash" as per https://github.com/Rise-Vision/widget-image/issues/180

If a new file is re-uploaded to storage and it has the same file name, the image appears but the trash message does not go away.
![moved-to-trash-overlay](https://user-images.githubusercontent.com/1511535/46027809-beaa0c00-c0bc-11e8-9f3d

[2018-10-04 13:44] stulees commented on #183
Fixed with #184 . A fix to Local Storage module  is also required. This Image widget fix was validated with a staged version of Local Storage module [here](https://storage.googleapis.com/install-versions.risevision.com/staging/local-storage/2018.10.03.16.24/local-storage.exe). Until this version
 of Local Storage is rolled out in Electron player, a re-added image will not appear. @tejohnso FYI

[2018-10-04 13:44] #183 closed

[2018-10-19 19:53] tejohnso opened #185 "Image widget showing a folder requires player restart if all folder files are removed"
1. Create a presentation showing a folder of images with one image widget set to play until done
2. Confirm display is rotating through all images
3. While display is still running, trash one image
4. Confirm display rotation has updated to no longer include that image.
5. While display is still running, re-upload the image
6. Confirm display rotation now includes all images as before
7. While dis

[2018-10-23 19:53] stulees commented on #185
@tejohnso I cannot recreate this on ChrOS Beta or Electron Beta players. When I re-upload files the display does not continue to show "Unable to display any files" message. However, the issue I do see is that, after deleting all files in the folder followed by re-uploading multiple files in the same upload, only 1 of the images is displayed and the widget never rotates to the other images. At that

[2018-10-23 21:33] stulees commented on #185
@tejohnso I was now able to recreate the issue. If the re-upload of files is > 2 files, the message "Unable to display any files" persists and there is an error in the dev console. Working on isolating the issue. @sheadarlison FYI

[2018-10-24 16:23] stulees commented on #185
The issue has been fixed with #186 and validated on both ChrOS and Electron Players. @tejohnso @PatrickA-RiseVision

[2018-10-24 16:23] #185 closed

[2018-10-24 17:16] sheadarlison commented on #185
Thanks @stulees

[2018-10-26 16:03] sheadarlison opened #187 "test"

[2018-10-26 16:03] #187 closed

[2018-11-02 18:52] colby-maughan commented on #154
@sheadarlison It looks like this issue is prevalent again - we've had a few tickets regarding images being rotated the wrong direction and clearing exif data has resolved them. Could someone take a look and see if this needs revisiting?

[2018-11-02 18:53] sheadarlison commented on #154
@colby-maughan this is a storage issue, not an Image Widget issue. See here: https://github.com/Rise-Vision/storage-server/issues/287

We can't fix this on the client side.

Thanks

[2018-11-02 18:53] #154 closed

[2018-11-30 18:58] robb-price opened #189 "If you have a folder set to PUD, and you empty that folder and put no more files into it, on all OS' it sits on the last image of that folder"
### What is the expected behavior?
If there are no files in the folder, it should not play anything.

### What is the actual behavior?
When the Image Widget is set to PUD, the last image will come up after roughly 15 - 20 seconds, and sit on that image and not change.

### What steps can be taken to replicate the problem?
1. Create a Presentation with a Placeholder.
2. Add the Image Widget, point

[2018-11-30 19:01] robb-price opened #190 "If you clear out the folder, and upload new ones, the Widget that is not PUD, never updates to show the new images."
### What is the expected behavior?
The Image Widget should update to show whatever files are in the folder it is pointed at.

### What is the actual behavior?
If you empty a folder for the Image Widget when it is set to show for a specified duration, it will not populate with new images added to that folder.

### What steps can be taken to replicate the problem?
1. Create a Presentation with 1 Pla

[2018-12-05 14:12] stulees commented on #189
This has been fixed with #192

[2018-12-05 14:12] #189 closed

[2019-01-15 20:32] sheadarlison opened #193 "Files with &amp; in the name cause an error message"

[2019-01-23 18:05] santiagonoguez commented on #193
Seems to be an issue in the presentation editor, not the widget; details in the following card:

https://trello.com/c/4Iw9aUBQ/6296-widget-image-issue-193-3

Assigning to Apps team.

[2019-01-24 14:50] sheadarlison commented on #193
@santiagonoguez @stulees closing this issue given we've opened the apps one.

Thanks

[2019-01-24 14:50] #193 closed

[2019-03-25 16:03] tylermwight opened #194 "widget.min.js is being flagged as Magnitude Exploit Kit"
### What is the expected behavior?
We are not flagged for any exploits on our hosted files

### What is the actual behavior?
we are being flagged on this file: http://s3.amazonaws.com/widget-image/0.1.1/dist/js/widget.min.js

### What steps can be taken to replicate the problem?
Use some sort of firewall URL scanner, and it will flag our javascript files. Here is an example flag
![image001 (1)](ht

[2019-03-27 14:27] santiagonoguez commented on #194
@tylermwight can you be more specific with 'some sort of firewall or URL scanner' ? I tried two firewall products but wasn't able to reproduce.

[2019-03-27 14:44] santiagonoguez commented on #194
Also virus total doesn't detect anything:

![virustotal-screenshot](https://user-images.githubusercontent.com/33162690/55085547-791acb80-506c-11e9-9517-208ffdd5946e.png)

[2019-03-27 15:01] santiagonoguez commented on #194
Kaspersky
![kaspersky](https://user-images.githubusercontent.com/33162690/55086946-e4659d00-506e-11e9-8757-185cc06142b1.png)

[2019-03-27 15:03] santiagonoguez commented on #194
Sucuri ( just recommends using HTTP instead of HTTPS )
![sucuri](https://user-images.githubusercontent.com/33162690/55087131-31e20a00-506f-11e9-890c-1c6dee9fde66.png)

[2019-03-27 15:07] santiagonoguez commented on #194
rescan found some errors ( expected if not loaded in the context of viewer ) and redirects but no exploits:
![rescan](https://user-images.githubusercontent.com/33162690/55087482-cd737a80-506f-11e9-9476-41f0b93aa114.png)

[2019-03-27 15:18] santiagonoguez commented on #194
webinspector
![webinspector](https://user-images.githubusercontent.com/33162690/55088353-3a3b4480-5071-11e9-8327-5f3da36cdb7d.png)

[2019-03-27 15:19] santiagonoguez commented on #194
Dr. web
![drweb](https://user-images.githubusercontent.com/33162690/55088479-68b91f80-5071-11e9-8643-b9887da370fd.png)

[2019-03-27 15:21] santiagonoguez commented on #194
metadefender:
![metadefenter](https://user-images.githubusercontent.com/33162690/55088625-ab7af780-5071-11e9-8f36-dcd28c2c5e6b.png)

[2019-03-28 14:34] tylermwight commented on #194
@santiagonoguez I did some searching and it looks like clients in all cases (that I can tell) are using Checkpoint IPS which is an intrusion prevention system.

https://www.checkpoint.com/products/ips-software-blade/

[2019-04-16 18:39] stulees commented on #194
This issue has been resolved by ensuring Image widget, as well as the rest of our core widgets, are loaded over HTTPS. This was implemented by updating our widget (free) URL mappings in RVA as well as the licensed widgets URLs via this PR in Apps - https://github.com/Rise-Vision/rise-vision-apps/pull/906

[2019-04-16 18:39] #194 closed

[2019-11-08 19:04] kaden-rise opened #196 "Image Widget displaying "please wait while your image is downloaded" after reboot on certain ChromeOS and Windows Displays"
**Expected Behavior**
After a Media Player reboots images set in the image widget should load every time.

**Actual Behavior**
After rebooting the Media Player the image widget displays "please wait while your image is downloaded" instead of loading the image and doesn't recover until after another reboot/restart of Rise Player.

**Steps to reproduce**
I was unable to reproduce this.
It happens ra

[2019-11-21 15:51] stulees commented on #196
Full conclusions [here](https://trello.com/c/1XPtPiXV/7354-issue-196-investigation-image-widget-displaying-please-wait-while-your-image-is-downloaded-after-reboot-on-certain-chromeos-and#comment-5dd6b1b894b0f1196db38edf), in summary this Display is running fine, issue could never be reproduced, and logs indicate that the display upgraded to newer ChrOS player versions which may have inadvertently

[2019-11-21 15:51] #196 closed

[2020-09-23 17:59] alanclayton opened #208 "Displays reporting 'image-load-error'"
~4% of displays are not rendering their configured image and the error being reported is 'image-load-error'. We need to identify what cause this happen and apply corrections to eliminate problem from occurring.

[2020-09-28 01:09] alanclayton opened #210 "Endpoints reporting 'rise storage error'"
Endpoints unable to render their configured image and reporting rise storage error.

[2020-09-28 01:11] alanclayton commented on #210
Defect opened by mistake.

[2020-09-29 19:30] olegrise commented on #208
I looked at the logs and manually spot checked a number of URLs. The absolute majority of files that report the 'image-load-error' simply do not exist. I can think of two options for fixing this issue:

1. Log the message as a "warning" instead of "error"
2. Let a user know that there is a problem with their image so they can go and fit it

My vote is option # 2. It can be done in many different w

[2020-09-30 13:29] alanclayton commented on #208
@olegrise don't we have another uptime error logged that is unique to a file not existing?

[2020-10-01 14:36] olegrise commented on #208
@alanclayton I double checked the code - I don't see any other errors logged by the widget-image related to a file not existing.

[2020-10-01 18:38] stulees commented on #210
@alanclayton The conclusion through investigation is that this error occurs because the endpoint that the presentation is running on has a firewall blocking some types of requests. Specifically in this case, the requests to domain `https://storage-dot-rvaserver2.appspot.com/` are blocked, which the rise-storage component requests to when running in shared schedule for obtaining file/folder metadat

[2020-10-01 18:57] alanclayton commented on #210
@stulees I think all files should be fetched from a risevision.com domain so we don't have to ask users to make so many firewall exceptions. And asking for access to appspot.com opens up a lot more than just our files which may not be easy for an end user to do.

[2020-10-01 19:33] alanclayton commented on #208
Okay, thanks @olegrise I agree with your recommendation. This defect should remain open until we are informing the user and providing the correction.  @stulees FYI

[2020-10-02 14:07] stulees commented on #210
@alanclayton As per our discussion today with @olegrise and Byron, we will look into the option of GCS url mapping and see if it's feasible. If so, we'll determine the rough scope of effort to first address the use of `https://storage-dot-rvaserver2.appspot.com/` from our Widgets requesting storage files as per this issue. Thanks

[2020-10-02 14:16] alanclayton commented on #210
@stulees Thanks! We also need to inform the user and provide them with the correction. Thanks

[2020-10-14 13:52] robb-price opened #212 "Images using HTTPS in the Image Widget show "Problem Retrieving File from Cache" on Display"
### What is the expected behavior?
You can use images accessible via HTTPS in the Image Widget.

### What is the actual behavior?
If you use HTTPS images with the Image Widget, preview will work, but the display shows the message "There was a problem retrieving the file from cache"

### What steps can be taken to replicate the problem?
Add an image that uses HTTPS to the Image Widget, and use that

[2020-10-16 17:19] tejohnso opened #213 "Images using HTTPS in the Image Widget show "Problem Retrieving File from Cache" on Display"
See https://github.com/Rise-Vision/rise-launcher-electron/issues/859 and https://rise-vision-inc.slack.com/archives/CCELMSZFZ/p1602863121061800

[2020-10-27 00:19] stulees commented on #213
Closed with #216

[2020-10-27 00:20] #213 closed

[2021-02-05 18:53] stulees opened #220 "Widget is incorrectly reporting 'Rise Cache not running' on shared schedules"

[2021-03-25 20:21] #220 closed

[2021-03-25 20:21] stulees commented on #220
Fixed with #221

[2021-04-09 19:03] alanclayton opened #223 "Uptime errors not published to user"
The following uptime errors are being reported, but they are not being published to the User:

- E000000003
- E000000014
- E000000210
- E000000021

[2021-04-09 19:05] alanclayton commented on #210
Replaced with https://github.com/Rise-Vision/widget-image/issues/223

[2021-04-09 19:05] #210 closed

[2021-04-09 19:07] alanclayton commented on #208
https://github.com/Rise-Vision/widget-image/issues/223

[2021-04-09 19:07] #208 closed

[2021-05-07 16:37] tejohnso opened #226 "Error reporting rise cache not running when in webplayer"
Seeing multiple E000000019 errors when showing a presentation with Viewer `type=webplayer`.

For example with `https://widgets.risevision.com/viewer/?type=webplayer&id=[my-test-display-id]`

The query

[code]

returns

[code]

[2021-05-19 14:26] stulees commented on #226
@tejohnso Issue closed with #230 . Image and video widgets were not recognizing that that should use Content Sentinel for `webplayer`. This has been corrected. Closing.

[2021-05-19 14:26] #226 closed

[2021-07-07 02:11] alanclayton opened #231 "User not told when selected folder is empty"
**Current User Experience**
As a user when I configure the widget to show a folder of images, and there are no images in the folder, it is not obvious to me that the reason no images show is because the folder is empty.

**Expected User Experience**
When I configure the Widget to show a folder that is empty, and every time I open the widget settings thereafter, I should see the message, "The selec

[2021-08-12 15:44] #223 closed

[2021-08-12 15:46] alanclayton opened #234 "3rd party file deleted from server is not skipped when presentation showing on endpoint"
###Problem to be solved.
400 endpoints are unable to show a 3rd party file (image or video) because the file does not exist on the respective server or the server does not exist. The user experience in this situation is inconsistent and does not adhere to our standards.

###What is the expected behavior from the user’s point of view?
If an endpoint opens a presentation configured to show a 3rd par

[2021-08-19 14:33] #231 closed